html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #242629;
}

.container {
    display: flex;
    flex-flow: row;
}


 /*Sidebar*/
.sidebar {
    background: #242629;
    height: 100vh;
    padding-top: 1rem;
    flex-shrink: 0;
}

nav{
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-elements {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.sidebar-elements li {
    margin: 10px 0;
}

.sidebar-elements img {
    width: 32px;
    height: 32px;
}

.sidebar-link {
    text-decoration: none;
    color: black;
}

/*END Sidebar*/

 /*Selection*/
.selection {
    padding: .5rem;
    background: #16161a;
    display: flex;
    flex-direction: column;
}

.user-list {
    width: 100%;
    text-align: center;
    background-color: #16161a;
    list-style: none;
    margin: 5px 0;
    padding-bottom: .8rem;
    padding-top: .8rem;
    border-radius: 5px;
}

.help-back {
    background: #16161a;
    border-radius: 10px;
}

.user-list-element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.user-list-item {
    min-width: 250px;
    height: 60px;
}

.help{
    max-width: 350px!important;
    padding: .5rem;
    background: #16161a;
}

.chat-text{
    font-family: Arial, serif;
    color: aliceblue;
    margin: 0;
    padding-left: 1rem;
    padding-right: .5rem;
}

 /*Main Content*/
.content {
    min-width: 350px;
    background-color: #16161a;
}

.main-content {
    flex-grow: 1;
    background: #242629;
}

.thumbnail-img {
    max-width: 75px!important;
    max-height: 75px;
}

.list-user-item {
    color: black!important;
    font-size: 16px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/*.message-bar {*/
/*    height: 75px;*/
/*}*/

.user-text-info-text {
    color: #fffffe;
    font-weight: bold;
}

.chat-bar {
    /*height: 80px;*/
}


.message-bar .container {
    display: flex;
    align-items: center;
}

.message-bar .form-group {
    flex-grow: 1;
    margin-right: 10px;
}

.message-bar .btn {
    flex-shrink: 0;
}
