html, body {
    height: 100%;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    flex-flow: row;
}


 /*Sidebar*/
.sidebar {
    background-color: #801b1b;
    height: 100vh;
    padding-top: 1rem;
    flex-shrink: 0;
}

nav{
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-elements {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.sidebar-elements li {
    margin: 10px 0;
}

.sidebar-elements img {
    width: 32px;
    height: 32px;
}

.sidebar-link {
    text-decoration: none;
    color: black;
}

/*END Sidebar*/

 /*Selection*/
.selection {
    padding: .5rem;
    background-color: #e34877;
    display: flex;
    flex-direction: column;
}

.user-list {
    width: 100%;
    text-align: center;
    background-color: #15dcc5;
    list-style: none;
    margin: 5px 0;
    padding-bottom: .8rem;
    padding-top: .8rem;
    border-radius: 5px;
}

.user-list-element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.user-list-item {
    min-width: 250px;
}

.help{
    max-width: 350px!important;
    padding: .5rem;
    background-color: #e34877;
}

.chat-text{
    font-family: Arial, serif;
    color: aliceblue;
    margin: 0;
    padding-left: 1rem;
    padding-right: .5rem;
}

 /*Main Content*/
.content {
    min-width: 350px;
    background-color: lightblue;
}

.main-content {
    flex-grow: 1;
}

.thumbnail-img {
    max-width: 100px!important;
    max-height: 100px;
}

.list-user-item {
    color: black!important;
}


/*.message-bar {*/
/*    height: 75px;*/
/*}*/

.chat-bar {
    height: 75px;
}
